name: Java CI with Gradle

on:
  pull_request:
    branches: [ develop ]

permissions:
  checks: write
  pull-requests: write

jobs:
  test:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: JDK 17 세팅
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'

    - name: gradlew 실행 권한 설정
      run: chmod +x gradlew
 
    - name: 테스트 진행
      run: ./gradlew test
      
    - name: 테스트 결과 Report
      uses: EnricoMi/publish-unit-test-result-action@v2
      if: always()
      with:
         files: 'build/test-results/**/*.xml'

    - name: 테스트 실패 Comment
      uses: mikepenz/action-junit-report@v4
      if: always()
      with:
        report_paths: 'build/test-results/test/TEST-*.xml'
